<div class="comment-form">
	<b>Comments:</b>
	<div class="comments-show" data-id="photo-<%= @photo.id %>">
		<% sorted_comments = @photo.comments.sort { |x, y| x.updated_at <=> y.updated_at } %>
		<% sorted_comments.each do |comment| %>
		<div class="single-comment" data-id="comment-<%= comment.id %>"> 
			<%= comment.body %>
			<div class="comment-options">
				<a href="#" class="remove-comment">Delete</a> 
				<a href="#" class="edit-comment">Edit</a>
			</div>
		</div>
		<% end %>
	</div>
	<form id="comment-form-id">
		<input type="hidden" 
		name="authenticity_token" 
		value="<%= form_authenticity_token %>">
		<input type="hidden" name="comment[photo_id]" value="<%= @photo.id %>">
		<input type="hidden" name="comment[author_id]" value="<%= current_user.id %>">
		<textarea 
			name="comment[body]" 
			id="comment_body" 
			style="color:green">Add your comment here
		</textarea>
		<input type="submit" value="Post Comment">
	</form>
</div>