<div class="album-tile <%= animate_class %>" data-id="album-<%= album.id%>">
	<div class="album-tile-single">
			<% album.photos.first ? photo = album.photos.last : photo = current_user.photos.first %>
			<a href="<%= album_url(album)%>">
				<%= image_tag photo.image.url(:thumb), :class => "album-first-photo" %>
			</a>
		</div>
		<div class="meta-album">
			<%= album.title %> <br>
			<%=album.photos.count%> photos, <a class="delete-album" data-id="album-<%= album.id%>">Delete album</a>
		</div>
</div>