<br>
<%= link_to "Collections", collections_url, :method => :get %>
<br>
<%= link_to "Albums", albums_url, :method => :get %>
<br>
<%= link_to "Upload new photo", new_photo_url, :method => :get %>
<br>
<%= link_to "Photostream", photos_url, :method => :get %>
<br>
<br>

<h2><%= @album.title %></h2>
<p><%= @album.description %></p>
<div class="album-photos" id="h">
	<% @album.photos.each do |photo| %>
	<div class="photo-thumbnail">
		<a href="<%= album_photo_url(@album, photo) %>">
		<%= image_tag photo.image.url(:thumb), :class => "thumbnail-photo" %>
		</a>
	</div>
<% end %>
</div>
<br>
<h3>Select pictures from your photostream to add to the album <%= @album.title %></h3>
<br>
<div class="photostream-form">
	<%= render :partial => "add_photos_form" %>
</div>


<script>
$(document).ready(function() {

		
	var draggedDiv = $(".photostream-form .photo-thumbnail").draggable();
	$(draggedDiv).draggable( "option", {
		opacity: 0.35,
		revert: true
			
	});
		
	var dropDiv = $(".album-photos").droppable({
		accept: ".photo-thumbnail",
		drop: function(ev, ui) {
			//move into the album-photos div
			$(ui.draggable).detach().css({top: 0,left: 0}).appendTo(this);
			//add the photo to the album
			console.log(ui);
			var id = $(ui.draggable).attr('id').split("_")[2];
			console.log(id);
			$.ajax({
				type: "PUT",
				url: "<%= album_url(@album) %>",
				data: {photo_id: parseInt(id)},
				success: function( result ) {
					console.log(result)
				}
			});
		}

	});
});
</script>