<br>
<%= link_to "Your photo Collections", collections_url, :method => :get %>
<br>
<%= link_to "Your photo Albums", albums_url, :method => :get %>
<br>
<%= link_to "Upload new photo here", new_photo_url, :method => :get %>
<h2>Your Photostream</h2>
<% @photos.each do |photo| %>
<div class="photo-thumbnail">
	<a href="<%= photo_url(photo) %>">
	<%= image_tag serve_photo_url(photo), :class => "thumbnail-photo" %>
	</a>
</div>
<% end %>
