<% if @album.nil? %>
	<%= render partial: "photo" %>
<% else %>
	<%= render partial: "album_photo" %>
<% end %>
<!-- photo description -->
<%= render :partial => "photo_description" %>
<!-- add comments -->
<div>
<%= render :partial => "comments/comment_form" %>
<!-- add tags -->
<%= render :partial => "tags/tag_form" %>
<!-- add options for adding to the gallery -->
<%= render :partial => "photos/gallery_form" %>
</div>
<script>

</script>