<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>flickr</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
	<%= javascript_tag "window._token = '#{form_authenticity_token}';" %>
	<% if current_user %>
	<%= javascript_tag "window._userID = '#{current_user.id}' "%>
	<%= javascript_tag "window._tags = #{current_user.tags.map{|tag| tag.title}} " %>
	<%= javascript_tag "console.log(window._tags)" %>
	<% end %>
</head>
<body>
	<%= render :partial => "/photos/nav-bar" %>
    <div class="container" style="margin-top:50px">
		<!-- <p class="notice"><%= notice %></p>
	    <p class="alert"><%= alert %></p> -->

		<%= yield %>
		
	</div>	
	<%= render :partial => "/photos/footer" %>
</body>
</html>
