<!DOCTYPE html>
<html>
<head>
  <title>Flickr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="content">
		<p class="notice"><%= notice %></p>
	    <p class="alert"><%= alert %></p>
		<% if current_user %>
			<%= button_to "Logout", destroy_user_session_url, method: :delete %>
		<% else %>
			<%= button_to "Login", new_user_session_url, method: :get%>
		<% end %>
		<%= yield %>
	</div>
</body>
</html>
